<?xml version = '1.0' encoding = 'windows-1252'?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee">
    <description>Empty web.xml file for Web Application</description>
    <servlet>
        <servlet-name>inicio</servlet-name>
        <servlet-class>webserver.inicio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pesquisarrota</servlet-name>
        <servlet-class>webserver.pesquisarrota</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>imagem</servlet-name>
        <servlet-class>webserver.imagem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>iniwap</servlet-name>
        <servlet-class>webserver.iniwap</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servjdbc</servlet-name>
        <servlet-class>webserver.servjdbc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>wapform</servlet-name>
        <servlet-class>webserver.wapform</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>indexwap</servlet-name>
        <servlet-class>webserver.indexwap</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>inicio</servlet-name>
        <url-pattern>/inicio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pesquisarrota</servlet-name>
        <url-pattern>/pesquisarrota</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>imagem</servlet-name>
        <url-pattern>/imagem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>iniwap</servlet-name>
        <url-pattern>/iniwap</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servjdbc</servlet-name>
        <url-pattern>/servjdbc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>wapform</servlet-name>
        <url-pattern>/wapform</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>indexwap</servlet-name>
        <url-pattern>/indexwap</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>35</session-timeout>
    </session-config>
    <mime-mapping>
        <extension>html</extension>
        <mime-type>text/html</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>txt</extension>
        <mime-type>text/plain</mime-type>
    </mime-mapping>
</web-app>
