<?xml version = '1.0' encoding = 'windows-1252'?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee">
    <description>Empty web.xml file for Web Application</description>
    <servlet>
        <servlet-name>inicio</servlet-name>
        <servlet-class>webserver.inicio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pesquisarrota</servlet-name>
        <servlet-class>webserver.pesquisarrota</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>imagem</servlet-name>
        <servlet-class>webserver.imagem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pesquisa</servlet-name>
        <servlet-class>webserver.pesquisa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WEBPrincipal</servlet-name>
        <servlet-class>webserver.WEBPrincipal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WAPPrincipal</servlet-name>
        <servlet-class>webserver.WAPPrincipal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WAPIndex</servlet-name>
        <servlet-class>webserver.WAPIndex</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DesenhaRota</servlet-name>
        <servlet-class>webserver.DesenhaRota</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>inicio</servlet-name>
        <url-pattern>/inicio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pesquisarrota</servlet-name>
        <url-pattern>/pesquisarrota</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>imagem</servlet-name>
        <url-pattern>/imagem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pesquisa</servlet-name>
        <url-pattern>/pesquisa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WEBPrincipal</servlet-name>
        <url-pattern>/webprincipal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WAPPrincipal</servlet-name>
        <url-pattern>/wapprincipal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WAPIndex</servlet-name>
        <url-pattern>/wapindex</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DesenhaRota</servlet-name>
        <url-pattern>/desenharota</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>35</session-timeout>
    </session-config>
    <mime-mapping>
        <extension>html</extension>
        <mime-type>text/html</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>txt</extension>
        <mime-type>text/plain</mime-type>
    </mime-mapping>
</web-app>
